@model TicketLand_project.Models.seat

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}

<link href="~/Areas/Assets/css/Seat.css" rel="stylesheet" />




<div class="center">
    <div class="tickets">
        <!-- Alert thông báo trạng thái-->
        <div class="alert alert-info alert-dismissible" style="display: none;" id="successAlert">
            <strong>Success!</strong> Quá trình lưu thành công.
        </div>

        <div class="alert alert-info alert-dismissible" style="display: none;" id="errorAlert">
            <strong>Success!</strong> lưu thất bại.
        </div>


        <div class="ticket-selector">
            <div class="head">
                <div class="title">SƠ ĐỒ CHỖ NGỒI</div>
            </div>
            <!--List phòng-->
            <div class="col-md-10">
                @Html.DropDownList("room_Id", null, htmlAttributes: new { @class = "form-control text-center", @id = "room_id", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.room_id, "", new { @class = "text-danger" })
            </div>
            <br />

            <!--Màn hình-->
            <div class="screen"></div>

            <!--Ghế ngồi-->
            <div class="all-seats"></div>
        </div>

        <div class="seats">

            <!--Ghế ngồi available và selected-->
            <div class="status">
                <div class="item">Available</div>
                <div class="item">Selected</div>
            </div>
            <input type="button" value="SET" class="btn btn-success" onclick="saveSeats()" />
        </div>
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/Areas/Assets/js/Set_seats.js"></script>



